/* src\pages\Lista\styles.css */
img{
    width: 200px;
    margin-bottom: 20px;
}

.pagina-lista-jogadores {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.605); 
}
  
.pagina-lista-jogadores .container {
    background-color: #de484385;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px #003180;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
    border-radius: 8px;
}
  
.pagina-lista-jogadores .container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: #003180;
}
  